# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment directories
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# PostgreSQL logs and temporary files
*.log
*.sql
*.sqlite

# Node modules
node_modules/
frontend/node_modules/

# Build directories
frontend/dist/
frontend/build/
frontend/.vite/
.cache/
public/build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# TailwindCSS
tailwind.config.js
tailwind.config.cjs
postcss.config.js

# Vite
.vite/

# Environment variables
.env
.env.*
